.main {
  margin-top: 7.7rem
}

.mt30 {
  margin-top: 30px;
}

.products--view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
  > .item {
    padding: 0.7rem .3rem 0;
    width: 20%;
    box-sizing: border-box;

  }
  .page__control {
    margin: 20px auto;
  }
}

.vue-popover {
  // box-shadow: none !important;
  padding: 0px !important;
  border-radius: 2px !important;
  // border: 1px solid $blue-gray;
}