$grak-blue: #434b6c;
$blue-soft: #6b759a;
$blue-ligth: #828ead;
$blue-gray: #e9e6ea;
$active-color: #d6a3a9;
$blue-s: #6c94d2;
$violet-soft: #988faa;

$background: #fbfcfd;
$birumuda: #4ac8fb;
$birutua: #3ca1f5;
$gray: #d2dde7;
$graytua: #696d82;
$biruah: #97dae9;
$orangesoft: #f8b684;